{# templates/admin/dashboard.html.twig #}
{# {% extends '@EasyAdmin/page/content.html.twig' %}
#}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}



    <h1>Bienvenue au Table de Bord Monsieur Le directeur</h1>


{% endblock %}
